/*******************
*   app.css
*   A generic css that can be seen throughout the app
*******************/
.page {
    padding: 20px;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

.content {
    margin-left: 220px;
    padding: 10px;
    /*height: 100vh;*/
    /* overflow-y: scroll; */
    overflow-x: hidden;
    transition: margin-left 1s ease;
}

.content-min {
    margin-left: 70px !important;
    transition: margin-left 1s ease;
}

.link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    /* color: #069; */
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

.message-warning {
    color : red;
    font-size : 0.9rem;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20vw;
    padding: 30px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: rgba(0, 78, 149, 1);
}

.login-form > h2 {
    margin: 0;
}

.login-form > form {
    margin: 10px 0px;
}

.login-form > form > .bold {
    font-weight: bold;
}

.login-form > form > div {
    text-align: center;
    margin: 7px;
}

.login-form > form > div > div {
    text-align: center;
}

.login-form > form input[type=text],
.login-form > form input[type=password] {
    border-radius: 3px;
    padding-left: 3px;
}

.login-form > form button {
    border-radius: 3px;
    padding: 2px 3px;
}
.avatar {
    height: 150px;
    width: 150px;
  }