/*********************
*   menu-side.css
*********************/


.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.drawer {
    width: 240px;
    flex-shrink: 0;
    white-space: nowrap;
}

.drawerOpen {
    transition: width 2s;
}

.drawerClose {
    max-width: 100 !important;
    width: 100 !important;
    transition: width 2s;
    overflow-x: hidden;
}
